<p id="notice"><%= notice %></p>

<%= @profile.user.name %>
<%= @profile.user.last_name %><br>
<%= @profile.user.city %><br>
<%= @profile.user.postalcode %><br>
<%= @profile.user.email %><br>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
