<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field register-field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "off" %>
  </div>

  <div class="field register-field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off" %>
  </div>

  <div class="field register-field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "off" %>
  </div>

  <div class="field register-field">
    <%= f.label :postalcode %><br />
    <%= f.text_field :postalcode, autocomplete: "off" %>
  </div>

  <div class="field register-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field register-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field register-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", class: "button" %>
  </div>
<% end %>
<div class="login-link" style="cursor: pointer" >
  Already have an account? Log-in here!
</div>
