<style>

.tablecontainer {
  background-color: #4D4D4D;
  padding: 40px;
  width:825px;
  border-radius: 25px;

}

.tablebody {
  width: 750px;
}

.tabletitle {
  font-family: 'Brandon Grotesque';
  position: relative;
  color: white;

}


</style>



<p id="notice"><%= notice %></p>

<center>
<div class= "tablecontainer">
<h1 class = "tabletitle">Topics found for you</h1>



  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td>| <%= link_to topic.subject.name, subject_path(topic.subject.id) %> | | <%= link_to topic.title, topic %>| </td><br>
        <td><%= topic.description %></td><br>
        <td></td><br>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</center>

<br>

<%= link_to 'New Topic', new_topic_path %>
