<style>

.tablecontainer {
  background-color: #4D4D4D;
  padding: 40px;
  width:825px;
  border-radius: 25px;
  text-align: justify;
  color:white;
}

.tablebody {
  width: 750px;
}

.tabletitle {
  font-family: 'Brandon Grotesque';
  position: relative;
  color: white;

}


</style>

<p id="notice"><%= notice %></p>
<center>
<div class= "tablecontainer">
<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @topic.subject.name %>
</p>
</div>
</center>

<center>
<%= link_to 'See classes for this topic', topic_klasses_path(@topic) %> |
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
</center>
