<style>

.tablecontainer {
  background-color: #4D4D4D;
  padding: 25px;
  width:825px;
  border-radius: 25px;

}

.tablebody {
  width: 750px;
}

.tabletitle {
  font-family: 'Brandon Grotesque';
  position: relative;
  color: white;

}

.searchres {
  font-size: 25px;
}


</style>
<html>

<p id="notice"><%= notice %></p>
<center>
<div class= "tablecontainer">

<h2 class = "tabletitle">Classes for your topic</h2>

    <% @klasses.each do |klass| %>

        <%= klass.name %></td>
        <%= klass.description %></td>
        <%= klass.appointment %></td>
        <%= klass.duration %></td>
        <%= klass.user_id %></td>
        <%= link_to 'Show', klass %></td>
        <%= link_to 'Edit', edit_klass_path(klass) %></td>
        <%= link_to 'Destroy', klass, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new class', new_klass_path %>
