<p id="notice"><%= notice %></p>
<style>

.tablecontainer {
  background-color: #4D4D4D;
  padding: 25px;
  width:825px;
  border-radius: 25px;
  color:white;
  text-align: justify;

}
</style>



<center>
<div class = 'tablecontainer'>


<p>
  <strong>Sensei:</strong>
  <%= @klass.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @klass.description %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @klass.appointment %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @klass.duration %>
</p>

</div>
<%= link_to 'Join this class'%> |
<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>
</center>
